
.mainContainer{
    -fx-background-image: url("../images/123.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#score{
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-background-color: transparent;
}

#playerTiles{
    -fx-min-width: 470px;
    -fx-max-width: 470px;
    -fx-background-color: transparent;
}

.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.list-cell:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.list-view{
    -fx-background-color: transparent;
}

.grid-pane {
    -fx-background-color: lightblue;
}

.button{
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-font-family: stencil;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

.vbox {
    -fx-min-width: 150px;
    -fx-max-width: 150px;

}


